.component-card-list {

    &__card-item {
        padding: 20px;

        @include media-breakpoint-down(sm) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &__card {
        height: 100%;   
    }

}