.component-call-to-action {
    padding-right: 30px;
    padding-bottom: 30px;
    position: relative;

    @include media-breakpoint-down(lg)  {
        padding-right: 20px;
        padding-bottom: 20px;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        background: $accentColor;
        z-index: -1;
        border-radius: 20px;

        @include media-breakpoint-down(lg)  {
            width: calc(100% - 20px);
            height: calc(100% - 20px);
        }
    }

    &__button {
        display: flex;
        align-items: center;
        position: relative;
        text-decoration: none;
        height: 200px;
        background-color: $primaryColor;
        color: #fff;
        border-radius: 20px;
        padding: 50px 30px;

        @include media-breakpoint-down(lg)  {
            height: 150px;
        }
    }

        &__label {
            margin-bottom: 0;
            font-size: 50px;

            @include media-breakpoint-down(lg)  {
               font-size: 30px;
            }
        }

        &__icon {
            width: 50px;
            height: 50px;
            fill: #fff;
            position: absolute;
            top: 75px;
            right: 65px;
            transition: transform .3s ease, fill .3s ease;

            @include media-breakpoint-down(lg)  {
                width: 40px;
                height: 40px;
                top: 55px;
                right: 47px;
             }
        }

        &__button:hover &__icon {
            fill: $accentColor;
            transform: translateX(20px);
        }
}