* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

// headings
h1, .h1 {
    font-size: 3rem;
    line-height: 1;

    @media (min-width: 481px) {
        font-size: 3.5rem;
        line-height: 56px;
    }

    @media (min-width: 768px) {
        font-size: 4.5rem;
        line-height: 1.2;
    }
}